.container-3 {
    width: 1440;
    height: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .text-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 230px;

        h4 {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: #f3b562;
            text-align: center;
            margin: 75px 0 17px 0;
        }

        h1 {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 500;
            font-size: 41px;
            line-height: 110%;
            text-transform: uppercase;
            color: #647b64;
            text-align: center;
            margin: 0 0 56px 0;

        }
    }

    .three-fields {
        display: flex;
        flex-direction: row;
        width: 1440px;
        height: 400px;
        column-gap: 40px;
        align-items: revert;
        justify-content: center;

        .dots {
            position: absolute;
            width: 214px;
            height: 213px;
            left: 105px;
            top: 1892px;
            z-index: 0;
            
            
        }
        
        .rec497{
            
            position: absolute;
            width: 349px;
            height: 182px;
            left: 1091px;
            top: 1920px;
            z-index: 0;
        }
        
        .left {
            z-index: 0;
            border-radius: 8px;
            width: 360px;
            height: 338px;
            background: rgb(240, 240, 240);
            background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 21%);

            .python {
                margin: 78px 0 0 50px;
            }

            h4 {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 116%;
                color: #333333;
                width: 206px;
                height: 31px;
                margin: 29.33px 0 6px 50px;
            }

            p {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
                letter-spacing: 0.04em;
                color: #4f4f4f;
                width: 260px;
                height: 63px;
                margin: 0 50px 72px 50px;
            }

        }

        .center {
            border-radius: 8px;
            width: 360px;
            height: 338px;
            background: #647b64;

            .iost {
                margin: 78px 0 0 50px;
            }

            h4 {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 116%;
                color: #333333;
                width: 206px;
                height: 31px;
                margin: 29.33px 0 6px 50px;
            }

            p {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
                letter-spacing: 0.04em;
                color: #4f4f4f;
                width: 260px;
                height: 63px;
                margin: 0 50px 72px 50px;
            }

        }

        .right {
            z-index: 0;
            border-radius: 8px;
            width: 360px;
            height: 338px;
            background: rgb(240, 240, 240);
            background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 21%);

            .stacks {
                margin: 78px 0 0 50px;
            }

            h4 {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 116%;
                color: #333333;
                width: 206px;
                height: 31px;
                margin: 29.33px 0 6px 50px;
            }

            p {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
                letter-spacing: 0.04em;
                color: #4f4f4f;
                width: 260px;
                height: 63px;
                margin: 0 50px 72px 50px;
            }

        }
    }
}