*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1440px;
    height: 4082px;
    padding: 0;
    margin: 0;
    
}

.main-cont {
    overflow: hidden;
    width: 1440px;
    height: 4082px;
    background: rgb(255,255,255);
background: linear-gradient(29deg, rgba(255,255,255,1) 25%, rgba(240,229,229,1) 73%, rgba(232,221,221,1) 89%, rgba(247,243,243,1) 100%);background: rgb(255,255,255);
background: linear-gradient(352deg, rgba(255,255,255,1) 25%, rgba(240,229,229,1) 73%, rgba(232,221,221,1) 89%, rgba(247,243,243,1) 100%);
}

@import 'parts/header.scss';
@import 'parts/main-menu-1.scss';
@import 'parts/main-menu-2.scss';
@import 'parts/main-menu-3.scss';
@import 'parts/main-menu-4.scss';
@import 'parts/main-menu-5.scss';
@import 'parts/footer.scss'